In [2]:
import numpy as np

In [3]:
np.__version__

'1.24.3'

In [60]:
import matplotlib.pyplot as plt

In [5]:
matplotlib.__version__

'3.7.2'

In [142]:
import pandas as pd
from pathlib import Path

DATASETNAME = "player_stats.csv"

# Get the current working directory
filepath = Path.cwd().parent/"dataSet" / "player_stats.csv"
filepath
df = pd.read_csv(filepath, encoding='latin1')
df

,player,country,height,weight,age,club,ball_control,dribbling,marking,slide_tackle,...,curve,fk_acc,penalties,volleys,gk_positioning,gk_diving,gk_handling,gk_kicking,gk_reflexes,value
0,Cristian Castro Devenish,Colombia,192,84,22,Atl. Nacional,55,43,NaN,68,...,32,34,41,33,10,11,6,7,9,$1.400.000
1,Silaldo Taffarel,Brazil,181,80,31,Corinthians,69,70,NaN,56,...,65,62,48,46,12,15,14,8,14,$975.00
2,Thomas DÃ¤hne,Germany,193,84,29,Holstein Kiel,25,12,NaN,13,...,20,15,26,16,64,74,65,68,74,$1.100.000
3,Michael Sollbauer,Austria,187,86,33,SK Rapid Wien,46,48,NaN,66,...,25,13,22,19,10,10,8,14,9,$650.00
4,Diego Segovia,Uruguay,191,80,23,Independiente,14,8,NaN,14,...,9,10,16,5,61,59,62,64,64,$300.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5677,Mohamed Salah,Egypt,175,71,31,Liverpool,86,88,NaN,41,...,84,69,86,83,11,14,14,9,14,$99.500.000
5678,Sadio Mané,Senegal,174,69,31,FC Bayern München,86,88,NaN,38,...,77,64,75,75,7,10,10,15,14,$101.000.000
5679,Neymar Jr,Brazil,175,68,31,Paris SG,94,95,NaN,29,...,88,87,91,86,15,9,9,15,11,$99.500.000
5680,Cristiano Ronaldo,Portugal,187,83,38,Al Nassr,87,81,NaN,24,...,79,75,90,85,14,7,11,15,11,$31.000.000
5681,Zlatan Ibrahimovi?,Sweden,195,102,41,Milan,85,75,NaN,24,...,79,74,80,87,9,13,15,10,12,$10.500.000

In [143]:
dfColumnAnalysis = pd.DataFrame({"columns": df.columns,
                                 "data Type": df.dtypes.values,
                                 "Total Count": df.count().values,
                                 "Unique Count": df.nunique().values
                                })
dfColumnAnalysis

           columns data Type  Total Count  Unique Count
0           player    object         5682          5657
1          country    object         5682           135
2           height     int64         5682            45
3           weight     int64         5682            49
4              age     int64         5682            25
5             club    object         5682           689
6     ball_control     int64         5682            87
7        dribbling     int64         5682            89
8          marking   float64            0             0
9     slide_tackle     int64         5682            81
10    stand_tackle     int64         5682            83
11      aggression     int64         5682            85
12       reactions     int64         5682            62
13    att_position     int64         5682            91
14   interceptions     int64         5682            83
15          vision     int64         5682            78
16       composure     int64         5682            76
17        crossing     int64         5682            86
18      short_pass     int64         5682            82
19       long_pass     int64         5682            83
20    acceleration     int64         5682            84
21         stamina     int64         5682            82
22        strength     int64         5682            69
23         balance     int64         5682            76
24    sprint_speed     int64         5682            83
25         agility     int64         5682            73
26         jumping     int64         5682            68
27         heading     int64         5682            87
28      shot_power     int64         5682            74
29       finishing     int64         5682            91
30      long_shots     int64         5682            85
31           curve     int64         5682            85
32          fk_acc     int64         5682            88
33       penalties     int64         5682            83
34         volleys     int64         5682            86
35  gk_positioning     int64         5682            62
36       gk_diving     int64         5682            57
37     gk_handling     int64         5682            57
38      gk_kicking     int64         5682            62
39     gk_reflexes     int64         5682            62
40           value    object         5682           191

In [145]:
#numpy strings != python strings so they appear as objects
#value needs to be converted to float
df["value"] = df["value"].replace('[^\d]', '', regex=True).astype(float)

#strings cannot be used in regression based ml - transformation needed for "country" & "club" - one hot encoding?
#for now, we will continue exploring, we will analyse these columns seperately from the integer based ones
stringColumns = ["player","country", "club"]
df.dtypes

player             object
country            object
height              int64
weight              int64
age                 int64
club               object
ball_control        int64
dribbling           int64
marking           float64
slide_tackle        int64
stand_tackle        int64
aggression          int64
reactions           int64
att_position        int64
interceptions       int64
vision              int64
composure           int64
crossing            int64
short_pass          int64
long_pass           int64
acceleration        int64
stamina             int64
strength            int64
balance             int64
sprint_speed        int64
agility             int64
jumping             int64
heading             int64
shot_power          int64
finishing           int64
long_shots          int64
curve               int64
fk_acc              int64
penalties           int64
volleys             int64
gk_positioning      int64
gk_diving           int64
gk_handling         int64
gk_kicking          int64
gk_reflexes         int64
value             float64
dtype: object

In [146]:
#marking column contains no values, double check this by checking entire df for null values:
ContainsNullValues = df.isnull().values.any() 
print("does dataset contain null values: ", ContainsNullValues)
if ContainsNullValues:
    print("null values found in columns: \n", df.isnull().sum())

does dataset contain null values:  True
null values found in columns:
 player               0
country              0
height               0
weight               0
age                  0
club                 0
ball_control         0
dribbling            0
marking           5682
slide_tackle         0
stand_tackle         0
aggression           0
reactions            0
att_position         0
interceptions        0
vision               0
composure            0
crossing             0
short_pass           0
long_pass            0
acceleration         0
stamina              0
strength             0
balance              0
sprint_speed         0
agility              0
jumping              0
heading              0
shot_power           0
finishing            0
long_shots           0
curve                0
fk_acc               0
penalties            0
volleys              0
gk_positioning       0
gk_diving            0
gk_handling          0
gk_kicking           0
gk_reflexes          0
value                0
dtype: int64

In [147]:
#entire marking column is null - will need to be removed
df = df.drop("marking", axis=1)
df.isnull().values.any()

False

In [155]:
#player is our identifier, seeing that its unique count does not match the total count, implies there are duplicates
ContainsDuplicates = df.duplicated().any() 
print("does dataset contain duplicate values: ", ContainsDuplicates)
if ContainsDuplicates:
    #set keep to false, so it flags all occurances of duplicated rows
    print("total duplicates found:", df.duplicated(keep=False).sum())
    print("following rows were found to have duplicates:\n",df[df.duplicated(keep=False).values])
    #we will keep the first occurances of these rows (keep="first" by default)
    df = df.drop_duplicates()

#Check all changes
dfColumnAnalysis = pd.DataFrame({"columns": df.columns,
                                 "data Type": df.dtypes.values,
                                 "Total Count": df.count().values,
                                 "Unique Count": df.nunique().values
                                })
dfColumnAnalysis

does dataset contain duplicate values:  False

           columns data Type  Total Count  Unique Count
0          country    object         5679           135
1           height     int64         5679            45
2           weight     int64         5679            49
3              age     int64         5679            25
4             club    object         5679           689
5     ball_control     int64         5679            87
6        dribbling     int64         5679            89
7     slide_tackle     int64         5679            81
8     stand_tackle     int64         5679            83
9       aggression     int64         5679            85
10       reactions     int64         5679            62
11    att_position     int64         5679            91
12   interceptions     int64         5679            83
13          vision     int64         5679            78
14       composure     int64         5679            76
15        crossing     int64         5679            86
16      short_pass     int64         5679            82
17       long_pass     int64         5679            83
18    acceleration     int64         5679            84
19         stamina     int64         5679            82
20        strength     int64         5679            69
21         balance     int64         5679            76
22    sprint_speed     int64         5679            83
23         agility     int64         5679            73
24         jumping     int64         5679            68
25         heading     int64         5679            87
26      shot_power     int64         5679            74
27       finishing     int64         5679            91
28      long_shots     int64         5679            85
29           curve     int64         5679            85
30          fk_acc     int64         5679            88
31       penalties     int64         5679            83
32         volleys     int64         5679            86
33  gk_positioning     int64         5679            62
34       gk_diving     int64         5679            57
35     gk_handling     int64         5679            57
36      gk_kicking     int64         5679            62
37     gk_reflexes     int64         5679            62
38           value   float64         5679           191

In [149]:
#unique player count still does not match actual player count - lets check duplicates in player column
ContainsDuplicates = df.duplicated(subset=["player"]).any() 
print("does dataset contain duplicate values: ", ContainsDuplicates)
if ContainsDuplicates:
    #set keep to false, so it flags all occurances of duplicated rows
    print("total duplicates found:", df.duplicated(keep=False,subset=["player"]).sum())
    print("following rows were found to have duplicates:\n",df[df.duplicated(keep=False,subset=["player"]).values].sort_values(by=["player"]))
    #we will keep the first occurances of these rows (keep="first" by default)
    #df = df.drop_duplicates(subset=["player"])

does dataset contain duplicate values:  True
total duplicates found: 42
following rows were found to have duplicates:
                 player         country  height  weight  age              club  \
1568     Curtis Davies         England     173      70   19   Mansfield Town
2650     Curtis Davies         England     188      76   38     Derby County
4133        Danny Ward           Wales     191      88   30   Leicester City
2367        Danny Ward         England     180      72   32     Huddersfield
1004      Diego LÃ³pez           Spain     172      63   21      Valencia CF
4422      Diego LÃ³pez           Spain     196      89   41   Rayo Vallecano
4962  Emmanuel Boateng           Ghana     174      66   26      IF Elfsborg
5319  Emmanuel Boateng           Ghana     168      68   29      New England
2432  Emmanuel Boateng           Ghana     175      70   27       Rio Ave FC
3079       Greg Taylor        Scotland     170      68   25           Celtic
2959       Greg Taylor         England     186      73   33    Cambridge Utd
3108     Jack Hamilton        Scotland     189      75   29       Livingston
5155     Jack Hamilton        Scotland     187      80   23       Hartlepool
2355       Jake Taylor         England     178      77   24        Morecambe
2846       Jake Taylor           Wales     177      77   31        Stevenage
4681       Javi LÃ³pez           Spain     180      78   37  Adelaide United
787        Javi LÃ³pez           Spain     183      75   21       D. AlavÃ©s
1748      JoÃ£o MÃ¡rio        Portugal     179      73   30       SL Benfica
4149      JoÃ£o MÃ¡rio        Portugal     179      66   23         FC Porto
4838            Juanpe           Spain     183      72   27          CD Lugo
3066            Juanpe           Spain     190      80   32        Girona FC
5073       Lee Ji Hoon  Korea Republic     177      60   21  Gimcheon Sangmu
4814       Lee Ji Hoon  Korea Republic     176      69   29      Seongnam FC
4920      Lee Sang Min  Korea Republic     182      77   24      Seongnam FC
5274      Lee Sang Min  Korea Republic     188      78   25  Gimcheon Sangmu
1810           LuizÃ£o          Brazil     184      75   25   Radomiak Radom
1392           LuizÃ£o          Brazil     187      80   21         West Ham
183       Pablo PÃ©rez       Argentina     177      75   38         Newell's
381       Pablo PÃ©rez           Spain     174      65   22       Sevilla FC
4673           Pacheco           Spain     184      77   22    Real Sociedad
1910           Pacheco           Spain     184      72   21  Villarreal CF B
1429           Pacheco           Spain     186      81   31     RCD Espanyol
2770          Paulinho          Brazil     175      74   26         Al Fayha
5340          Paulinho          Brazil     178      71   28   FC Midtjylland
1313      Pedro Mendes        Portugal     186      78   32      Montpellier
5150      Pedro Mendes        Portugal     187      84   24           Ascoli
5206     RaÃºl GarcÃ­a           Spain     192      70   22     CD MirandÃ©s
3443     RaÃºl GarcÃ­a           Spain     184      83   37    Athletic Club
2195        Ricardinho        Portugal     178      73   25      Santa Clara
631         Ricardinho        Portugal     180      77   29     FC Voluntari
2531         Wang Peng        China PR     185      70   30      Cangzhou FC
400          Wang Peng        China PR     176      69   25   Guangzhou City

      ball_control  dribbling  slide_tackle  stand_tackle  ...  curve  fk_acc  \
1568            53         51            40            42  ...     45      42
2650            60         38            68            70  ...     24      25
4133            23         19            18            20  ...     15      14
2367            66         67            32            37  ...     60      56
1004            60         64            30            30  ...     55      52
4422            25         11            14            13  ...     10      11
4962            58         55            49            49  ...     46      43
5319            63         64            38            49  ...     58      44
2432            68         72            33            35  ...     59      53
3079            71         72            68            74  ...     66      58
2959            54         48            61            65  ...     43      40
3108            24         13            13            14  ...     15      16
5155            54         49            15            16  ...     41      32
2355            62         62            55            57  ...     54      49
2846            61         59            56            59  ...     56      59
4681            68         65            68            68  ...     67      52
787             60         52            66            68  ...     46      31
1748            84         83            65            74  ...     77      67
4149            75         75            68            68  ...     57      47
4838            71         66            53            60  ...     56      54
3066            63         40            70            71  ...     30      30
5073            55         60            30            24  ...     39      36
4814            50         52            60            63  ...     43      33
4920            64         56            54            58  ...     45      36
5274            43         32            64            67  ...     18      22
1810            63         55            63            63  ...     42      41
1392            54         46            72            69  ...     44      32
183             75         69            69            72  ...     68      68
381             58         58            63            62  ...     49      42
4673            71         31            72            73  ...     23      24
1910            66         59            57            57  ...     40      48
1429            15         13            13            16  ...     20      20
2770            76         78            68            72  ...     69      50
5340            70         70            64            68  ...     67      43
1313            62         62            70            73  ...     48      52
5150            67         65            26            38  ...     68      60
5206            68         66            28            17  ...     53      59
3443            84         80            57            59  ...     78      68
2195            71         70            43            36  ...     53      45
631             60         57            62            64  ...     47      46
2531            57         53            58            59  ...     47      46
400             52         47            50            46  ...     49      44

      penalties  volleys  gk_positioning  gk_diving  gk_handling  gk_kicking  \
1568         45       46               8         10           12          15
2650         32       32              15          7            9          10
4133         20       13              73         76           74          69
2367         67       68              11         13           11          15
1004         60       47              14         14           15          13
4422         21       14              80         76           78          68
4962         48       41               6          5           10          13
5319         46       57              12         10           12          11
2432         64       73              14         15           13          13
3079         59       43              12          9           14          13
2959         39       38              13          6            7          11
3108         23       18              61         62           61          60
5155         55       38               7         11           13           6
2355         53       41              10         14           11           7
2846         54       54              16         12           12          14
4681         56       49              12         10            8           7
787          36       21              14         11           13          14
1748         84       69               8          6           15           8
4149         67       54              10          9            5          10
4838         72       47               6          7           10          11
3066         40       15               8         11            8          11
5073         48       35              11          6            9           8
4814         38       20               5          6           11          11
4920         45       39               7          8           12          12
5274         32       25              11          9           12          10
1810         44       38              13          7           13           6
1392         40       31              12          9           12           9
183          64       70              15         10            7          16
381          43       21              11          8           11           8
4673         36       21              14         14           13          14
1910         55       38              15         13           14          10
1429         23       13              77         76           74          70
2770         52       62               5         10           12           6
5340         45       63               5          9            8           5
1313         35       24              10         10            6          13
5150         71       72               9         10            6          10
5206         71       55               6         12           15          13
3443         85       73              16         14           16          14
2195         53       56              11          5           13           5
631          53       42               7          8            9          13
2531         45       41              16         15           10           8
400          40       43              11         11           15          10

      gk_reflexes       value
1568            6      8000.0
2650           10     18000.0
4133           75   3800000.0
2367            8   1000000.0
1004           12     45000.0
4422           76     45000.0
4962            9     52500.0
5319           14     85000.0
2432           12   4700000.0
3079            9   3200000.0
2959           11     30000.0
3108           62     27500.0
5155           13     15000.0
2355           15     37500.0
2846           14     32500.0
4681           16     42500.0
787            11   1200000.0
1748            8  25500000.0
4149           12   6000000.0
4838           11     92500.0
3066           13   1300000.0
5073           12     14000.0
4814            6     22000.0
4920           11     25000.0
5274           14     47500.0
1810           15     60000.0
1392            9   1400000.0
183            14     75000.0
381             9     50000.0
4673            8   1900000.0
1910           11     45000.0
1429           79   7000000.0
2770           11   2600000.0
5340           11   2300000.0
1313           10   2100000.0
5150            8   1900000.0
5206            6   1700000.0
3443           15   9000000.0
2195            9   1600000.0
631             8     65000.0
2531            8     19000.0
400            14      7000.0

[42 rows x 40 columns]

In [156]:
#player names (& country) seem to be duplicated, data, possible that some of these are outdated data from prev version
#all data is grabbed from the fifa Index - will need to check what to do with this - for now will ignore and continue

#player column is no longer needed for analysis
df = df.drop("player", axis=1)
stringColumns.remove("player")

XInts = df.drop("value",axis=1).drop(stringColumns,axis=1)
xStrings = df[stringColumns]
Y = df["value"]
df

,country,height,weight,age,club,ball_control,dribbling,slide_tackle,stand_tackle,aggression,...,curve,fk_acc,penalties,volleys,gk_positioning,gk_diving,gk_handling,gk_kicking,gk_reflexes,value
0,Colombia,192,84,22,Atl. Nacional,55,43,68,73,72,...,32,34,41,33,10,11,6,7,9,1400000.0
1,Brazil,181,80,31,Corinthians,69,70,56,58,62,...,65,62,48,46,12,15,14,8,14,97500.0
2,Germany,193,84,29,Holstein Kiel,25,12,13,16,27,...,20,15,26,16,64,74,65,68,74,1100000.0
3,Austria,187,86,33,SK Rapid Wien,46,48,66,69,71,...,25,13,22,19,10,10,8,14,9,65000.0
4,Uruguay,191,80,23,Independiente,14,8,14,16,28,...,9,10,16,5,61,59,62,64,64,30000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5677,Egypt,175,71,31,Liverpool,86,88,41,43,63,...,84,69,86,83,11,14,14,9,14,99500000.0
5678,Senegal,174,69,31,FC Bayern München,86,88,38,42,75,...,77,64,75,75,7,10,10,15,14,101000000.0
5679,Brazil,175,68,31,Paris SG,94,95,29,32,63,...,88,87,91,86,15,9,9,15,11,99500000.0
5680,Portugal,187,83,38,Al Nassr,87,81,24,32,62,...,79,75,90,85,14,7,11,15,11,31000000.0
5681,Sweden,195,102,41,Milan,85,75,24,37,84,...,79,74,80,87,9,13,15,10,12,10500000.0

In [151]:
XInts

,height,weight,age,ball_control,dribbling,slide_tackle,stand_tackle,aggression,reactions,att_position,...,long_shots,curve,fk_acc,penalties,volleys,gk_positioning,gk_diving,gk_handling,gk_kicking,gk_reflexes
0,192,84,22,55,43,68,73,72,68,30,...,31,32,34,41,33,10,11,6,7,9
1,181,80,31,69,70,56,58,62,70,69,...,68,65,62,48,46,12,15,14,8,14
2,193,84,29,25,12,13,16,27,65,17,...,20,20,15,26,16,64,74,65,68,74
3,187,86,33,46,48,66,69,71,64,48,...,33,25,13,22,19,10,10,8,14,9
4,191,80,23,14,8,14,16,28,50,10,...,6,9,10,16,5,61,59,62,64,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5677,175,71,31,86,88,41,43,63,92,91,...,84,84,69,86,83,11,14,14,9,14
5678,174,69,31,86,88,38,42,75,91,90,...,78,77,64,75,75,7,10,10,15,14
5679,175,68,31,94,95,29,32,63,88,86,...,81,88,87,91,86,15,9,9,15,11
5680,187,83,38,87,81,24,32,62,90,93,...,88,79,75,90,85,14,7,11,15,11
5681,195,102,41,85,75,24,37,84,77,88,...,85,79,74,80,87,9,13,15,10,12

In [152]:
xStrings

       country               club
0     Colombia     Atl. Nacional
1       Brazil       Corinthians
2      Germany     Holstein Kiel
3      Austria     SK Rapid Wien
4      Uruguay     Independiente
...        ...                ...
5677     Egypt          Liverpool
5678   Senegal  FC Bayern München
5679    Brazil           Paris SG
5680  Portugal           Al Nassr
5681    Sweden              Milan

[5679 rows x 2 columns]

In [170]:
Y

0         1400000.0
1           97500.0
2         1100000.0
3           65000.0
4           30000.0
           ...
5677     99500000.0
5678    101000000.0
5679     99500000.0
5680     31000000.0
5681     10500000.0
Name: value, Length: 5679, dtype: float64

In [176]:

print("analysing integer columns relationship with Value column")
index = 0
print(len(XInts.columns))
for c in XInts.columns: 
    plt.figure(figsize=(20, 20))
    plt.plot(XInts[c], Y, label=c, 'ro')
    plt.title(f'{c}\'s relationship with value')
    plt.legend()
    plt.tight_layout()
    plt.show()
    print(f'{c}\'s relationship with value')
    index+=1
    if index >2:
        break

SyntaxError: positional argument follows keyword argument (712980675.py, line 6)

In [66]:
df

,country,height,weight,age,club,ball_control,dribbling,marking,slide_tackle,stand_tackle,...,curve,fk_acc,penalties,volleys,gk_positioning,gk_diving,gk_handling,gk_kicking,gk_reflexes,value
0,Colombia,192,84,22,Atl. Nacional,55,43,NaN,68,73,...,32,34,41,33,10,11,6,7,9,$1.400.000
1,Brazil,181,80,31,Corinthians,69,70,NaN,56,58,...,65,62,48,46,12,15,14,8,14,$975.00
2,Germany,193,84,29,Holstein Kiel,25,12,NaN,13,16,...,20,15,26,16,64,74,65,68,74,$1.100.000
3,Austria,187,86,33,SK Rapid Wien,46,48,NaN,66,69,...,25,13,22,19,10,10,8,14,9,$650.00
4,Uruguay,191,80,23,Independiente,14,8,NaN,14,16,...,9,10,16,5,61,59,62,64,64,$300.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5677,Egypt,175,71,31,Liverpool,86,88,NaN,41,43,...,84,69,86,83,11,14,14,9,14,$99.500.000
5678,Senegal,174,69,31,FC Bayern München,86,88,NaN,38,42,...,77,64,75,75,7,10,10,15,14,$101.000.000
5679,Brazil,175,68,31,Paris SG,94,95,NaN,29,32,...,88,87,91,86,15,9,9,15,11,$99.500.000
5680,Portugal,187,83,38,Al Nassr,87,81,NaN,24,32,...,79,75,90,85,14,7,11,15,11,$31.000.000
5681,Sweden,195,102,41,Milan,85,75,NaN,24,37,...,79,74,80,87,9,13,15,10,12,$10.500.000